<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.incallui">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <!-- Main in-call UI activity.  This is never launched directly
            from outside the phone app; instead, it's either launched by
            the OutgoingCallBroadcaster (for outgoing calls), or as the
            fullScreenIntent of a notification (for incoming calls.) -->
        <activity
            android:name="com.android.incallui.InCallActivity"
            android:configChanges="keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/phoneAppLabel"
            android:launchMode="singleInstance"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.InCallScreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.DIAL" />

                <data android:scheme="tel" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- BroadcastReceiver for receiving Intents from Notification mechanism. -->
        <receiver
            android:name="com.android.incallui.NotificationBroadcastReceiver"
            android:exported="false" />

        <service
            android:name="com.android.incallui.InCallServiceImpl"
            android:permission="android.permission.BIND_INCALL_SERVICE">
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="true" />
            <intent-filter>
                <action android:name="android.telecom.InCallService" />
            </intent-filter>
        </service>
    </application>

</manifest>